--
-- PostgreSQL database dump
--

\restrict 1gaTGlF9dghHZXE2Wk8klexZkt2CKw0ABrQQM8hEg7qsrm7J5Hz1eltcOr9NuiG

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: MembershipSource; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MembershipSource" AS ENUM (
    'PAID',
    'TRIAL',
    'MANUAL'
);


ALTER TYPE public."MembershipSource" OWNER TO postgres;

--
-- Name: MembershipStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MembershipStatus" AS ENUM (
    'ACTIVE',
    'EXPIRED'
);


ALTER TYPE public."MembershipStatus" OWNER TO postgres;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'PAID',
    'EXPIRED',
    'CANCELLED'
);


ALTER TYPE public."OrderStatus" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'MATCHED',
    'PENDING_REVIEW',
    'DUPLICATE'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: Platform; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Platform" AS ENUM (
    'DISCORD',
    'TELEGRAM'
);


ALTER TYPE public."Platform" OWNER TO postgres;

--
-- Name: WebhookProcessStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WebhookProcessStatus" AS ENUM (
    'RECEIVED',
    'PROCESSED',
    'DUPLICATE',
    'FAILED'
);


ALTER TYPE public."WebhookProcessStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: DiscordUserProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DiscordUserProfile" (
    "discordUserId" text NOT NULL,
    username text NOT NULL,
    "globalName" text,
    discriminator text NOT NULL,
    avatar text,
    "displayName" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DiscordUserProfile" OWNER TO postgres;

--
-- Name: Membership; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Membership" (
    id text NOT NULL,
    "discordUserId" text NOT NULL,
    "guildId" text NOT NULL,
    "roleId" text NOT NULL,
    source public."MembershipSource" NOT NULL,
    status public."MembershipStatus" DEFAULT 'ACTIVE'::public."MembershipStatus" NOT NULL,
    "startAt" timestamp(3) without time zone NOT NULL,
    "expireAt" timestamp(3) without time zone NOT NULL,
    "removeRetries" integer DEFAULT 0 NOT NULL,
    "lastError" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "reminded1dAt" timestamp(3) without time zone,
    "reminded3dAt" timestamp(3) without time zone,
    platform public."Platform" DEFAULT 'DISCORD'::public."Platform" NOT NULL,
    "platformChatId" text,
    "platformUserId" text
);


ALTER TABLE public."Membership" OWNER TO postgres;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "orderCode" text NOT NULL,
    "discordUserId" text NOT NULL,
    "guildId" text NOT NULL,
    amount integer NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "planId" text NOT NULL,
    platform public."Platform" DEFAULT 'DISCORD'::public."Platform" NOT NULL,
    "platformChatId" text,
    "platformUserId" text
);


ALTER TABLE public."Order" OWNER TO postgres;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    provider text DEFAULT 'sepay'::text NOT NULL,
    "providerTransactionId" text NOT NULL,
    amount integer NOT NULL,
    "bankRef" text,
    "transferContent" text,
    "payerName" text,
    status public."PaymentStatus" DEFAULT 'PENDING_REVIEW'::public."PaymentStatus" NOT NULL,
    "matchedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    raw jsonb NOT NULL,
    "orderId" text
);


ALTER TABLE public."Payment" OWNER TO postgres;

--
-- Name: Plan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Plan" (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    amount integer NOT NULL,
    "durationDays" integer NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Plan" OWNER TO postgres;

--
-- Name: PromoCode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PromoCode" (
    id text NOT NULL,
    code text NOT NULL,
    label text NOT NULL,
    "durationDays" integer NOT NULL,
    "maxUses" integer NOT NULL,
    "usedCount" integer DEFAULT 0 NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PromoCode" OWNER TO postgres;

--
-- Name: PromoCodeRedemption; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PromoCodeRedemption" (
    id text NOT NULL,
    "promoCodeId" text NOT NULL,
    platform public."Platform" DEFAULT 'DISCORD'::public."Platform" NOT NULL,
    "platformUserId" text NOT NULL,
    "platformChatId" text,
    "discordUserId" text NOT NULL,
    "durationDaysApplied" integer NOT NULL,
    "redeemedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PromoCodeRedemption" OWNER TO postgres;

--
-- Name: TelegramChannelVerification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TelegramChannelVerification" (
    id text NOT NULL,
    token text NOT NULL,
    "requestedBy" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "verifiedByTelegramUserId" text,
    "verifiedChatId" text,
    "verifiedChatTitle" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TelegramChannelVerification" OWNER TO postgres;

--
-- Name: TelegramPlanChannel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TelegramPlanChannel" (
    id text NOT NULL,
    "planId" text NOT NULL,
    "channelId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."TelegramPlanChannel" OWNER TO postgres;

--
-- Name: TelegramVipChannel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TelegramVipChannel" (
    id text NOT NULL,
    "chatId" text NOT NULL,
    title text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TelegramVipChannel" OWNER TO postgres;

--
-- Name: TrialClaim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TrialClaim" (
    id text NOT NULL,
    "discordUserId" text NOT NULL,
    "claimedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    platform public."Platform" DEFAULT 'DISCORD'::public."Platform" NOT NULL,
    "platformUserId" text
);


ALTER TABLE public."TrialClaim" OWNER TO postgres;

--
-- Name: WebhookEvent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WebhookEvent" (
    id text NOT NULL,
    provider text DEFAULT 'sepay'::text NOT NULL,
    "providerEventId" text,
    signature text,
    payload jsonb NOT NULL,
    "processStatus" public."WebhookProcessStatus" DEFAULT 'RECEIVED'::public."WebhookProcessStatus" NOT NULL,
    "errorMessage" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."WebhookEvent" OWNER TO postgres;

--
-- Name: session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session (
    sid character varying NOT NULL,
    sess jsonb NOT NULL,
    expire timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.session OWNER TO postgres;

--
-- Data for Name: DiscordUserProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Membership; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Plan; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PromoCode; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PromoCode" (id, code, label, "durationDays", "maxUses", "usedCount", "expiresAt", "isActive", "createdBy", "createdAt", "updatedAt") FROM stdin;
cmmobwzjp0000pe51aoe9kxje	VIP-7TIG2NKI	Promo test Codex	7	10	1	\N	t	local-admin	2026-03-13 03:20:24.565	2026-03-13 03:21:16.805
\.


--
-- Data for Name: PromoCodeRedemption; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PromoCodeRedemption" (id, "promoCodeId", platform, "platformUserId", "platformChatId", "discordUserId", "durationDaysApplied", "redeemedAt") FROM stdin;
cmmoby3uq0003pe51yq1x7qk0	cmmobwzjp0000pe51aoe9kxje	DISCORD	1455787165115089019	1178598004924612628	1455787165115089019	7	2026-03-13 03:21:16.803
\.


--
-- Data for Name: TelegramChannelVerification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TelegramChannelVerification" (id, token, "requestedBy", "expiresAt", "usedAt", "verifiedByTelegramUserId", "verifiedChatId", "verifiedChatTitle", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: TelegramPlanChannel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TelegramPlanChannel" (id, "planId", "channelId", "createdAt") FROM stdin;
cmn0658tz0003o24y444m6spc	cmmhjjwit0000vh70t4epoum1	cmmzy2lyu0000o97d4wru910o	2026-03-21 10:12:06.263
cmn0658tz0004o24y0btkr79m	cmmhjjwj30001vh70vh7m7nly	cmmzy2lyu0000o97d4wru910o	2026-03-21 10:12:06.263
\.


--
-- Data for Name: TelegramVipChannel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TelegramVipChannel" (id, "chatId", title, "isActive", "createdAt", "updatedAt") FROM stdin;
cmmzy2lyu0000o97d4wru910o	-1003711662542	Telegram Flow Test 2026-03-21	t	2026-03-21 06:26:06.39	2026-03-21 10:12:06.257
\.


--
-- Data for Name: TrialClaim; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WebhookEvent; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: DiscordUserProfile DiscordUserProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DiscordUserProfile"
    ADD CONSTRAINT "DiscordUserProfile_pkey" PRIMARY KEY ("discordUserId");


--
-- Name: Membership Membership_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Membership"
    ADD CONSTRAINT "Membership_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Plan Plan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_pkey" PRIMARY KEY (id);


--
-- Name: PromoCodeRedemption PromoCodeRedemption_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PromoCodeRedemption"
    ADD CONSTRAINT "PromoCodeRedemption_pkey" PRIMARY KEY (id);


--
-- Name: PromoCode PromoCode_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PromoCode"
    ADD CONSTRAINT "PromoCode_pkey" PRIMARY KEY (id);


--
-- Name: TelegramChannelVerification TelegramChannelVerification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TelegramChannelVerification"
    ADD CONSTRAINT "TelegramChannelVerification_pkey" PRIMARY KEY (id);


--
-- Name: TelegramPlanChannel TelegramPlanChannel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TelegramPlanChannel"
    ADD CONSTRAINT "TelegramPlanChannel_pkey" PRIMARY KEY (id);


--
-- Name: TelegramVipChannel TelegramVipChannel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TelegramVipChannel"
    ADD CONSTRAINT "TelegramVipChannel_pkey" PRIMARY KEY (id);


--
-- Name: TrialClaim TrialClaim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TrialClaim"
    ADD CONSTRAINT "TrialClaim_pkey" PRIMARY KEY (id);


--
-- Name: WebhookEvent WebhookEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WebhookEvent"
    ADD CONSTRAINT "WebhookEvent_pkey" PRIMARY KEY (id);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (sid);


--
-- Name: IDX_session_expire; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_session_expire" ON public.session USING btree (expire);


--
-- Name: Membership_discordUserId_guildId_roleId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Membership_discordUserId_guildId_roleId_key" ON public."Membership" USING btree ("discordUserId", "guildId", "roleId");


--
-- Name: Order_orderCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Order_orderCode_key" ON public."Order" USING btree ("orderCode");


--
-- Name: Payment_providerTransactionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Payment_providerTransactionId_key" ON public."Payment" USING btree ("providerTransactionId");


--
-- Name: Plan_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Plan_code_key" ON public."Plan" USING btree (code);


--
-- Name: PromoCodeRedemption_promoCodeId_platform_platformUserId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PromoCodeRedemption_promoCodeId_platform_platformUserId_key" ON public."PromoCodeRedemption" USING btree ("promoCodeId", platform, "platformUserId");


--
-- Name: PromoCode_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PromoCode_code_key" ON public."PromoCode" USING btree (code);


--
-- Name: TelegramChannelVerification_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TelegramChannelVerification_token_key" ON public."TelegramChannelVerification" USING btree (token);


--
-- Name: TelegramPlanChannel_planId_channelId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TelegramPlanChannel_planId_channelId_key" ON public."TelegramPlanChannel" USING btree ("planId", "channelId");


--
-- Name: TelegramVipChannel_chatId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TelegramVipChannel_chatId_key" ON public."TelegramVipChannel" USING btree ("chatId");


--
-- Name: TrialClaim_discordUserId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TrialClaim_discordUserId_key" ON public."TrialClaim" USING btree ("discordUserId");


--
-- Name: TrialClaim_platform_platformUserId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TrialClaim_platform_platformUserId_key" ON public."TrialClaim" USING btree (platform, "platformUserId");


--
-- Name: Order Order_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_planId_fkey" FOREIGN KEY ("planId") REFERENCES public."Plan"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PromoCodeRedemption PromoCodeRedemption_promoCodeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PromoCodeRedemption"
    ADD CONSTRAINT "PromoCodeRedemption_promoCodeId_fkey" FOREIGN KEY ("promoCodeId") REFERENCES public."PromoCode"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TelegramPlanChannel TelegramPlanChannel_channelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TelegramPlanChannel"
    ADD CONSTRAINT "TelegramPlanChannel_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES public."TelegramVipChannel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TelegramPlanChannel TelegramPlanChannel_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TelegramPlanChannel"
    ADD CONSTRAINT "TelegramPlanChannel_planId_fkey" FOREIGN KEY ("planId") REFERENCES public."Plan"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 1gaTGlF9dghHZXE2Wk8klexZkt2CKw0ABrQQM8hEg7qsrm7J5Hz1eltcOr9NuiG

